body {
    background-color: #1e5aa5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.login-form input {
    width: 100%; 
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e6f0ff;
    display: block;
}

.login-form button {
    width: auto; 
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto 20px auto; 
    display: block; 
}

.login-form button:hover {
    background-color: #218838;
}

.register-link {
    text-decoration: none;
    display: block;
    width: 100%; 
    margin-top: 10px; 
}

.register-button {
    padding: 12px 25px;
    background-color: #5E9FF2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}


.register-button:hover {
    background-color: #4A86D4;
}
.register-button {
    padding: 12px 24px;
    background-color: #5E9FF2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    background: #ddd;
    padding: 15px 30px;
    border-radius: 10px;
    color: #333;
    z-index: 999;
  }
