<html lang="ja">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9746925195117210"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pomolog|スキマ時間で成長を</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="header-container">
        <div class="logo">ぽもログ</div>

        {% if session.twitter_user %}
            <div class="welcome-logout">
                <div class="welcome">こんにちは、@{{ session.twitter_user }} さん</div>
                <a href="/logout" class="logout-button">ログアウト</a>
            </div>

        {% elif user %}
            <div class="welcome-logout">
                <div class="welcome">こんにちは、{{ user }} さん</div>
                <a href="/logout" class="logout-button">ログアウト</a>
            </div>

        {% else %}
            <div class="login-buttons">
                <a href="/login" class="login-button">ログイン</a>
                <a href="/login/twitter" class="login-button">Xでログイン</a>
            </div>
        {% endif %}
    </div>

    <div class="main-visual">ぽもログ、あなたの“ちょっとずつ”を応援します</div>

    <div class="features">
        <div class="feature">
            <a href="/calendar" class="feature-button">
                <img src="{{ url_for('static', filename='img/カレンダー.png') }}" alt="カレンダー">
                <h3>カレンダー</h3>
                <p>進捗管理</p>
            </a>
        </div>
        <div class="feature">
            <a href="/pomodolo" class="feature-button">
                <img src="{{ url_for('static', filename='img/pomolog.png') }}" alt="ポモドーロタイマー">
                <h3>ポモドーロタイマー</h3>
                <p>集中力アップ</p>
            </a>
        </div>
        <div class="feature">
            <a href="/score" class="feature-button">
                <img src="{{ url_for('static', filename='img/ひとこと.png') }}" alt="一言">
                <h3>１日を評価<br><small>*1日1回しか出来ません。</small></h3>
                <p></p>
            </a>
        </div>
        <div class="feature">
            <a href="/blog" class="feature-button">
                <img src="{{ url_for('static', filename='img/知識.jpg') }}" alt="ブログ">
                <h3>ブログ</h3>
                <p>5分で読める人生を豊かにする知識</p>
            </a>
        </div>
    </div>
    <div class="footer">
        &copy; 2025 pomolog | 
        <a href="/privacy" style="color:white; text-decoration: underline;">プライバシーポリシー</a>
        <a href="/about" style="color:white; text-decoration: underline; margin-left: 10px;">運営者情報</a>
        <a href="/contact" style="color:white; text-decoration: underline; margin-left: 10px;">お問い合わせ</a>
    </div>
</body>
</html>
