<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <a href="/" class="home-button">🏠 ホーム</a>
    <div class="login-container">
        <h2>新規登録</h2>
        <form class="login-form" action="/register_input" method="POST">
            <input type="text" name="username" placeholder="ユーザー名" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <button type="submit">登録</button>
        </form>

        <a href="/login" class="register-link">
            <button type="button" class="register-button">ログイン画面へ</button>
        </a>
    </div>
</body>
</html>
